*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main{
    background: linear-gradient(45deg, rgba(5,9,130,1) 0%, rgba(255,255,255,1) 100%);
    height: 100vh;
}
header{
    position: relative;
    background: linear-gradient(90deg, rgba(5,9,130,1) 0%, rgba(255,255,255,1) 100%);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 100px;
    margin-top: 15px;
}
nav{
    display: flex;
    gap: 40px;
}
.description{
    padding-top: 20px;
    font-size: 18px;
}
.description1{
    padding-top: 20px;
}
.designer{
    color: #050982;
    font-weight: 700px;
    font-size: 50px;
}
.hire-button:hover{
    background-color: #050982;
    color: white;
}
.passionate{
    font-size: 50px;
    font-weight: 500px;
    color: white;
}
.hire-button{
    padding: 10px 30px;
    background-color: #050982;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}
.main-content{
    display: flex;
    align-items: center;
   justify-content: center;
   
}
.photo{
    padding-top: 30px;
}